$DarkGreen:#254135;
$Green:#31795A;
$Grey:#C4C4C4;
$LightGreen:#E9F2EF;
$LightGrey:#F5F5F5;
$LimeGreen:#D2F34C;
$Black:#0F1620;

@font-face {
    font-family: 'Gordita';
    src: url('../assets/fonts/gordita-cufonfonts/Gordita\ Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Garamond';
    src: url('../assets/fonts/eb-garamond/EBGaramond-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Gordita';
    src: url('../assets/fonts/gordita-cufonfonts/Gordita\ Bold.otf');
    font-weight: 500;
}


@mixin setFonts($selectedFont,$size){
    font-family:$selectedFont;
    font-size:$size;
}

@mixin setFlex($direction,$justify,$align,$wrap){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin breakpoint($size){
    @media(max-width:$size) {
        @content;
    }
}