@import './sections/mostDemandingSection';
@import './sections/getOver50';
@import './sections/howItWorks';
@import './sections/bestTalentedExpert';
@import './sections/trusted';
@import './sections/collaboration';
@import './sections/jobiGuides';
@import './sections/matchedJobs';
@import './footer';

h1{
    
    @include setFonts('Garamond',clamp(3rem,11vw,9rem));
    font-weight: 500;
    line-height: clamp(5rem,12vw,9.5rem);
    
    padding-bottom: 0;
    margin-bottom: 0.5rem;

    background: transparent;
    span{
        display: block;
    }
}


.homePageHeader{
    position: relative;
    background: $DarkGreen;
    height: clamp(75rem, 150rem - 50vw, 85rem);

    padding-block: 5.4rem;

    .wrapper{
        @include setFlex(column, flex-start,flex-start,wrap);
        padding: 0 clamp(1rem,7vw,10rem);
    }
    &>*{
        position: relative;
        z-index: 10;
    }

    .absoluteShapeContainer{
        position: absolute;
        top: 0%;
        right: 2.5%;
        z-index: 0;
        width: 43.5%;
        height: auto;

        img{
            width: 100%;
        }

        @include breakpoint(1350px){
            display: none;
        }
    }
}

.findAndHire{
    color: $LightGrey;
}
.top3{
    color:$LimeGreen;
}
.onJobi{
    color:orange;
}

h2{
    color: white;
    @include setFonts('Gordita',clamp(1.8rem, 4vw, 2.2rem));
    font-weight: 400;
    line-height: clamp(2rem,8vw, 4.2rem);
    width: fit-content;
    margin-block: 3.5rem;

}

.belowSearchBar{
    color: $Green;
    @include setFonts('Gordita',1.6rem);
    margin-block: 2rem;
}

.popular{
    color: $LightGrey;
    @include setFonts('Gordita',1.6rem);
    font-weight: bold;
}