@import './colorsAndFonts';
.searchbarParent{
  width: 100%;
  @include setFlex(row,flex-start,center,wrap);
  position: relative;
  z-index: 100;
  margin-block: 1rem;

  
}

.searchInputForm{
  
  border-radius: 1rem;
  width: 100%;
  @include setFlex(row,flex-start,center,nowrap);
  
  @include setFonts('Gordita',1.6rem);

  @include breakpoint(720px){
    @include setFlex(column,flex-start,flex-start,nowrap);

  }

  
  
}

.occupation,.category{
  background: $LightGrey;
  padding: 1rem;
  @include setFlex(column,flex-start,flex-start,wrap)
}

.occupation{
  width: 35%;
  border-radius: 1rem 0 0 1rem;
  color: $Green;

  @include breakpoint(720px){
    width: 100%;

    border-radius: 1rem 1rem 0 0 ;
    &>*{
      width: 100%;
    }
  }
  
}
.category{
  color: $Green;
  width: clamp(230px,25%,300px);

  @include breakpoint(720px){
    width: 100%;

    &>*{
      width: 100%;
    }
  }
}

.submit{
  background: $LimeGreen;
  width: clamp(150px,15%,250px);
  padding: 2rem;
  border-radius: 0 1rem 1rem 0;

  @include setFonts('Gordita',1.6rem);
  text-transform: uppercase;
  font-weight: bold;

  @include breakpoint(720px){
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    
  }
  
}