@import './colorsAndFonts';
.searchbarParent{
  width: 100%;
  @include setFlex(row,flex-start,center,wrap);
  position: relative;
  z-index: 100;
  margin-block: 0;
}

.searchInputForm{
  
  border-radius: 1rem;
  width: 100%;
  @include setFlex(row,flex-start,flex-start,nowrap);
  
  @include setFonts('Gordita',1.6rem);

  @include breakpoint(720px){
    @include setFlex(column,flex-start,flex-start,nowrap);

  }

  
  
}
.centered{
  justify-content: center;
}

.occupation,.category{
  background: $LightGrey;
  padding: 1.44rem;
  
  label{
    @include setFonts('Gordita',1.4rem);
    font-weight: 400;
    line-height: 3.3rem;
  }

  input{
    @include setFonts('Gordita',2rem);
    font-weight:400;
    line-height: 3.3rem;
    background: $LightGrey;
    border: none;
  }
  @include setFlex(column,flex-start,flex-start,wrap)
}

.occupation{
  width: 35%;
  border-radius: 1rem 0 0 1rem;
  color: $Green;

  @include breakpoint(720px){
    width: 100%;

    border-radius: 1rem 1rem 0 0 ;
    &>*{
      width: 100%;
    }
  }
  
}
.category{
  color: $Green;
  width: clamp(230px,23%,300px);

  @include breakpoint(720px){
    width: 100%;

    &>*{
      width: 100%;
    }
  }
}

.submit{
  background: $LimeGreen;
  width: clamp(150px,15%,250px);
  padding: 3.7rem;
  border-radius: 0 1rem 1rem 0;

  @include setFonts('Gordita',1.6rem);
  line-height: 2.6rem;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
  border: none;

  &:hover{
    background: #224A22;
    color: white;
  }
  @include breakpoint(720px){
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    
  }
  
}