@import './colorsAndFonts';

.wrapper{
    max-width: 1500px;
    margin:0 auto;
}

.navbarParent{
    background: $DarkGreen;
    
}

nav{
    background:$DarkGreen;
    color: $LightGrey;
    
    list-style: none;
    
    @include setFlex(row,space-between,center,wrap);
    @include setFonts('Gordita',1.6rem);
    line-height: 3rem;
    font-weight: 500;
    text-transform: capitalize;
}
ul{
    padding:0;
    
    @include setFlex(row,space-between,center,wrap);
    list-style:none;
}
.menu{
    padding-left:6.5rem;
    width: 47.7rem;
    text-transform: capitalize;
    @include setFonts('Gordita',1.6rem);
    line-height: 5rem;
    font-weight: 500;
    a{

        color: white;
    }

    &>*{
        transition-property: scale  ease-in-out 500ms;
        &:hover{
            transform: scale(1.1);
        }
    }
}
.loginMenuBigScreen{
    padding:0;
    @include setFlex(row,flex-start,center,wrap);

    @include setFonts('Gordita',1.6rem);
    font-weight: 500;
    line-height: 3.2rem;

    &>*{
        transition: scale  ease-in-out 500ms;
        &:hover{
            transform: scale(1.1);
        }
    }
}



li{
    padding:5px;
    margin:5px;
}
.jobiLink{
    display: inline-block;
    transition-duration: 2s;
    &:hover{
        transform: scale(1.1);
    }
}
.categoryButton{
    background: $Green;
    
    padding: 0.25rem;
    margin-left: 4.1rem;
    border-radius: 2rem;
    width: 13rem;
    text-align: center;

    transition-duration: 0.5s;
    &:hover{
        transform: scale(1.1);
    }

    a{
        color: $LimeGreen;
        text-decoration: none;

        
    }
}

.loginText{
    color: $LimeGreen;
    border-left: 1px solid $LimeGreen;
    padding: 1rem;
}

.hireTopTalent{
    background: $LimeGreen;
    color: black;
    line-height: 3rem;
    display: inline-block;
    min-width: 15rem;
    color: $Black;
    font-weight: bold;
    padding: 0.75rem 2.25rem;
    border-radius: 2.5rem;
    text-decoration: none;
    text-transform: capitalize;

    transition-duration: 0.5s;

}

// beyond this are styles for the compressed menus

.bigScreenMenu{
    @include setFlex(row,space-between,flex-start,nowrap);
    
    
    width: min(100%,150rem);
    top: 0%;
    @include breakpoint(1250px){
        display: none;
    }

    a{
        text-decoration: none;
        
    }
}
.smallScreenMenu{
    &>*{
        background: $DarkGreen;
    }
    padding-block: 1%;
    width: 100%;
    display: none;
    position: relative;
    top:0%;
    @include breakpoint(1250px){
        @include setFlex(row,space-between,flex-start,nowrap)
    }
}


.leftMenuContainer{
    position: relative;
    background: $DarkGreen;

    button{
        border: none;
    }
    &>*{
        background: $DarkGreen;
    }
}
.leftMenu{
    
    
    
    @include setFlex(column,flex-start,flex-start,wrap);
    position: absolute;
    z-index: 1000;
    transform: translateY(-5%);

    transition: scale  ease-in-out 1000ms;

    .menu{
        @include setFlex(column,flex-start,flex-start,wrap);
        color: white;
    }
}

.loginMenu{
    @include setFlex(column-reverse,flex-start,flex-end,wrap);
    background: $DarkGreen;
    position: absolute;
    z-index: 1000;
    transition: scale  ease-in-out 1000ms;

   
    transform: translateY(25%);
}
.closed{
    transform:scale(0);
    display: none;
}

.rightMenu{
    @include setFlex(column,flex-start,flex-end,wrap);
    position: relative;
    background: $DarkGreen;

    &>*{
        background: $DarkGreen;
    }
}

.hamburgerButton{
    width: 4.8rem;
    height: 4.8rem;
    border: none;
    img{width: 100%;}
}