html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  background: #254135;
  color: white;
  list-style: none;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Gordita";
  font-size: 2rem;
}

ul {
  padding: 0;
  display: flex;
  list-style: none;
}

.menu {
  padding: 0;
}

.loginMenu {
  padding: 0;
}

li {
  padding: 5px;
  margin: 5px;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.mostDemanding {
  background: #F5F5F5;
}

.mostDemandingHeader {
  background: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.mostDemandingHeader h3 {
  background: #F5F5F5;
  color: #254135;
  font-family: "Garamond";
  font-size: 7.2rem;
}
.mostDemandingHeader h4 {
  background: #F5F5F5;
  font-family: "Gordita";
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.mostDemandingHeader h4 > * {
  background: #F5F5F5;
}

.mostDemandingList {
  background: #F5F5F5;
  margin: 0;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.getOver50 {
  background: #F5F5F5;
}
.getOver50 .flexParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.getOver50 .flexParent > * {
  flex-basis: 50%;
}

.getOver50Content {
  background: #F5F5F5;
  padding: 2rem;
}
.getOver50Content h3 {
  background: #F5F5F5;
  color: #254135;
  font-family: "Garamond";
  font-size: 5.2rem;
}
.getOver50Content h4 {
  background: #F5F5F5;
  color: #31795A;
  font-family: "Gordita";
  font-size: 2rem;
}
.getOver50Content a {
  text-decoration: none;
  color: #D2F34C;
  background: #31795A;
  font-family: "Gordita";
  font-size: 2rem;
  border-radius: 3rem;
  padding: 1rem;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}

.getOver50Checklist {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.getOver50Checklist li {
  background: #F5F5F5;
  font-family: "Gordita";
  font-size: 2rem;
  font-weight: bold;
}

.howItWorks {
  background: #254135;
}
.howItWorks .wrapper {
  background: #254135;
}

h3 {
  background: #254135;
  color: #F5F5F5;
  font-family: "Garamond";
  font-size: 5.2rem;
  text-align: center;
}

.howItWorksList {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.howItWorksList > * {
  flex-basis: 20%;
}
.howItWorksList li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.howItWorksList h4 {
  font-family: "Gordita";
  font-size: 1rem;
  color: #F5F5F5;
  margin-block: 1rem;
}
.howItWorksList h5 {
  font-family: "Gordita";
  font-size: 1rem;
  color: #31795A;
  margin-block: 1rem;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.bestTalentedExpert {
  background: #F5F5F5;
}

.bestTalentedHeader {
  background: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: flex;
}
.bestTalentedHeader h3 {
  background: #F5F5F5;
  color: #254135;
}

.talentButtonWidget {
  background: #F5F5F5;
  color: #F5F5F5;
  padding: 1rem;
}

.talentSlider {
  background: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
}
.talentSlider > * {
  flex-basis: 20%;
}
.talentSlider li {
  background: #F5F5F5;
}

.personContainer {
  background: #F5F5F5;
  text-align: center;
}
.personContainer h4 {
  background: #F5F5F5;
  font-family: "Gordita";
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}
.personContainer h5 {
  background: #F5F5F5;
  font-family: "Gordita";
  font-size: 1rem;
  margin: 0;
}

.personImage {
  height: 25rem;
  background: lightblue;
  border-radius: 40%;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.testimonialParent {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  background: #F5F5F5;
}
.testimonialParent hr {
  height: 1rem;
  background-color: black;
}

.testimonial {
  margin-block: 1rem;
  background: #F5F5F5;
  font-family: "Gordita";
  font-size: 2rem;
}

.authorName {
  background: #F5F5F5;
  font-family: "Gordita";
  font-size: 1rem;
  font-weight: bold;
}

.authorRole {
  background: #F5F5F5;
  font-family: "Gordita";
  font-size: 1rem;
}

.rating {
  background: #F5F5F5;
  font-family: "Gordita";
  font-size: 1rem;
}

.trusted {
  background: #F5F5F5;
}

.trustedHeader {
  background: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}
.trustedHeader h3 {
  background: #F5F5F5;
  color: #254135;
}

.companyTestimonialButtonWidget {
  background: #F5F5F5;
  padding: 1rem;
}

.companyTestimonials {
  background: #F5F5F5;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.companyTestimonials > * {
  flex-basis: 40%;
  background: #F5F5F5;
}

.companyList {
  background: #F5F5F5;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
.companyList > * {
  flex-basis: 40%;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.collaboration {
  background: #F5F5F5;
}
.collaboration .flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #F5F5F5;
}
.collaboration .flexParent > * {
  flex-basis: 50%;
}

.collaborationContent {
  background: #F5F5F5;
  padding-block: 3rem;
}
.collaborationContent h3 {
  color: #254135;
  background: #F5F5F5;
  text-align: left;
}
.collaborationContent h4 {
  background: #F5F5F5;
  color: #31795A;
  font-family: "Garamond";
  font-size: 2rem;
}
.collaborationContent a {
  background: #F5F5F5;
  color: black;
  font-family: "Garamond";
  font-size: 2rem;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.articleParent {
  background: #F5F5F5;
}

.imageContainer {
  background: lightblue;
  height: 25rem;
}

.categories {
  background: #F5F5F5;
  color: #31795A;
  padding-block: 1rem;
  font-family: "Gordita";
  font-size: 1rem;
  text-transform: capitalize;
}

.title {
  background: #F5F5F5;
  padding-block: 1rem;
  font-family: "Gordita";
  font-size: 1rem;
}

.author {
  background: #F5F5F5;
  padding-block: 1rem;
  font-family: "Gordita";
  font-size: 1rem;
}
.author .name {
  background: #F5F5F5;
  padding-block: 1rem;
  font-family: "Gordita";
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.jobiGuides {
  background: #F5F5F5;
}

.jobiGuidesHeader {
  background: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.jobiGuidesHeader h3 {
  background: #F5F5F5;
  color: #254135;
}
.jobiGuidesHeader a {
  background: #D2F34C;
  color: #31795A;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1.5rem;
  font-family: "Gordita";
  font-size: 1rem;
}

.jobiGuidesArticles {
  background: #F5F5F5;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.matchedJobs {
  background: #F5F5F5;
}
.matchedJobs .flexParent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #F5F5F5;
}
.matchedJobs .flexParent > * {
  flex-basis: 50%;
}

.matchedJobsContent {
  background: #F5F5F5;
  padding-block: 3rem;
}
.matchedJobsContent h3 {
  color: #254135;
  background: #F5F5F5;
  text-align: left;
}
.matchedJobsContent h3 span {
  color: #D2F34C;
  background: #254135;
}
.matchedJobsContent h4 {
  background: #F5F5F5;
  color: #31795A;
  font-family: "Garamond";
  font-size: 2rem;
}
.matchedJobsContent a {
  background: #D2F34C;
  color: black;
  padding: 1rem;
  border-radius: 2rem;
  font-family: "Gordita";
  font-size: 2rem;
  text-decoration: none;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
footer {
  background: #F5F5F5;
}

.footerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #F5F5F5;
}
.footerHeader .buttons {
  background: #F5F5F5;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.titleText {
  background: #F5F5F5;
}
.titleText h3 {
  background: #F5F5F5;
  color: #254135;
}
.titleText h4 {
  background: #F5F5F5;
  color: #31795A;
  font-family: "Gordita";
  font-size: 2rem;
}

.footerLists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #F5F5F5;
}

.footerList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  background: #F5F5F5;
}

.copyRightSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #F5F5F5;
}

h1 {
  font-family: "Garamond";
  font-size: 9rem;
}
h1 span {
  display: block;
}

.findAndHire {
  color: #F5F5F5;
}

.top3 {
  color: #D2F34C;
}

.onJobi {
  color: orange;
}

h2 {
  color: #F5F5F5;
  font-family: "Gordita";
  font-size: 2.4rem;
}

.belowSearchBar {
  color: #31795A;
  font-family: "Gordita";
  font-size: 2.4rem;
}

.popular {
  color: #F5F5F5;
  font-family: "Gordita";
  font-size: 2.4rem;
  font-weight: bold;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Gordita";
  font-size: 2rem;
}

.searchInput > * {
  flex-basis: 100%;
}

.submit {
  flex-basis: max(10rem, 50%);
  flex-grow: 1;
  flex-shrink: 1;
  background: #D2F34C;
}

.searchBar, .category {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-basis: max(20rem, 100%);
  border: none;
  flex-grow: 1;
}
.searchBar label, .category label {
  background: #F5F5F5;
  flex-grow: 1;
}
.searchBar input, .category input {
  border: none;
  background: #F5F5F5;
  flex-grow: 4;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.jobListingHeader .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.jobListingHeader h1 {
  color: #F5F5F5;
  text-transform: capitalize;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.jobs {
  background: #F5F5F5;
}
.jobs .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.filters {
  flex-basis: 20%;
  background: #F5F5F5;
}
.filters > * {
  background-color: #F5F5F5;
}

.jobCardsContainer {
  flex-basis: 80%;
  background: #F5F5F5;
}

.JobCards {
  background: #F5F5F5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.JobCards > * {
  flex-basis: 45%;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.jobDetailsHeader {
  text-align: center;
  color: #F5F5F5;
}
.jobDetailsHeader h1 {
  font-family: "Garamond";
  font-size: 5.2rem;
}
.jobDetailsHeader h2 {
  font-family: "Gordita";
  font-size: 2rem;
  font-weight: regular;
}

.jobData {
  background: #F5F5F5;
}
.jobData .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #F5F5F5;
}

.descriptionContainer {
  background: #F5F5F5;
  flex-basis: 65%;
}
.descriptionContainer > * {
  background: #F5F5F5;
}

.Summary {
  background: #F5F5F5;
  flex-basis: 25%;
}
.Summary > * {
  background: #F5F5F5;
}
.Summary h4 {
  background: #F5F5F5;
}

.jobResponsibilities, .requiredSkills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.jobResponsibilities > *, .requiredSkills > * {
  background: #F5F5F5;
}

.summaryList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.summaryList > * {
  flex-basis: 45%;
}

@font-face {
  font-family: "Gordita";
  src: url("../assets/fonts/gordita-cufonfonts/Gordita Regular.otf");
}
@font-face {
  font-family: "Garamond";
  src: url("../../assets/fonts/eb-garamond/EBGaramond08-Regular.ttf");
}
.content404Container {
  background: #F5F5F5;
}
.content404Container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.content404Container .wrapper > * {
  background: #F5F5F5;
  flex-basis: 50%;
}

* {
  background: #254135;
  outline: 1px solid black;
}

#root {
  width: 100%;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: min(100%, 120rem);
  margin: 0 auto;
}/*# sourceMappingURL=Main.css.map */