@import './partials/setup';
@import './partials/navbar';
@import './partials/homePage';
@import './partials/jobSearchBar';
@import './partials/jobListingPage';
@import './partials/jobDetails';
@import './partials/page404';
// *{
//     outline:1px solid black;
// }



#root{
    width: 100%;
}

html{
    font-size:62.5%;
}
.wrapper{
    width: min(100%,148rem);
    margin: 0 auto;
}