@import './partials/setup';
@import './partials/navbar';
@import './partials/homePage';
@import './partials/jobSearchBar';
@import './partials/jobListingPage';
*{
    background: $DarkGreen;
}


#root{
    width: 100%;
}

html{
    font-size:62.5%;
}
.wrapper{
    width: min(100%,120rem);
    margin: 0 auto;
}