.howItWorks{
    background: $DarkGreen;

    .wrapper{
        background: $DarkGreen;
    }
}

h3{
    background: $DarkGreen;
    color: $LightGrey;

    @include setFonts('Garamond',5.2rem);
    text-align: center;
    
}

.howItWorksList{
    @include setFlex(row,space-around,center,wrap);

    >*{
        flex-basis:20%;
    }
    li{
        @include setFlex(column,flex-start, center,nowrap);

    }
    h4{
        @include setFonts('Gordita',1rem);
        color: $LightGrey;
        margin-block: 1rem;
    }
    h5{
        @include setFonts('Gordita',1rem);
        color: $Green;
        margin-block: 1rem;
    }
}