@import '../jobiGuidesArticleComponent';
@import '../colorsAndFonts';

.jobiGuides{
    background: $LightGrey;
}

.jobiGuidesHeader{
    background: $LightGrey;

    @include setFlex(row,space-around,center,wrap);
    h3{
        background: $LightGrey;
        color: $DarkGreen;
    }

    a{
        background: $LimeGreen;
        color: $Green;
        text-decoration: none;
        padding: 1rem;
        border-radius: 1.5rem;
        @include setFonts('Gordita',1rem);

    }
}

.jobiGuidesArticles{
    background: $LightGrey;
    margin: 0;
    padding: 1rem;

    @include setFlex(row,space-around,center,wrap);
}