@import '../colorsAndFonts';

.matchedJobs{
    background: white;

    margin: 18rem 0 0 0;
    .wrapper{
        @include setFlex(row,space-around,center,wrap);
        background: url('../assets/images/getMatchedSection/getMatchedBg.png');

        padding: 0 clamp(1rem,7vw,10rem);
        &>*{
            flex-basis: 50%;
        }
    }

}

.matchedJobsContent{
    background:transparent;
    padding: 0 0 7.3rem 0;
    
    h3{
        margin: 5rem 0 0 0;
        color:white;
        text-align: left;
        @include setFonts('Garamond',6.4rem);
        font-weight: 500;
        line-height: 6.8rem;

        span{
            color: $LimeGreen;
            background: $DarkGreen;
        }
    }
    
    h4{
        color: #81B197;
        @include setFonts('Gordita',2rem);
        font-weight: 400;
        line-height: 3.8rem;
        margin: 1.6rem 0 0 0;
    }

    a{
        background:#DFFA73;
        color: #010101;

        margin: 4rem 0 7.3rem 0;
        display: inline-block;
        padding: 1.8rem;
        border-radius: 1rem;

        @include setFonts('Gordita',1.8rem);
        line-height: 1.8rem;
        font-weight: 500;

        text-decoration: none;
        transition-duration: 0.5s;

        &:hover{
            transform: scale(1.1);
        }
    }
}
