@import '../colorsAndFonts';
.mostDemanding{
    background: $LightGrey;
   
    .wrapper{
        padding-left:clamp(1rem, 7vw, 10rem);
    }
}

.mostDemandingHeader{
    background: $LightGrey;
    padding-top: 10rem;
    @include setFlex(row,space-between,center,wrap);

    h3{
        background: $LightGrey;

        color: $DarkGreen;
        @include setFonts('Garamond',5.6rem);

       position: relative;

       margin: 0;

       .threeLines{
        position: absolute;
        top: -25%;
        right: -25%;

            img{
                width: 100%;
            }
       }
    }
    h4{
        background: $LightGrey;
        @include setFonts('Gordita',2rem);

        @include setFlex(column, flex-start,flex-start,wrap);
         
        &>*{
        background: $LightGrey;
        }
    
    }
}

.mostDemandingList{
    background: $LightGrey;
    margin: 0;
}
